.button {
  user-select: none;
  cursor: pointer;
  border: 2px solid white;
  border-radius: 10px;
  display: flex;
  height: 80px;
  width: 80px;
  margin: 0.25rem;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: bold;
}

.button:hover {
  background-color: #e9e6e5;
}
